[user]
    name = Mitsutoshi Aoe
    email = me@maoe.name
[color]
    diff = auto
    grep = auto
    status = auto
    branch = auto
    interactive = auto
    diff-tree = auto
[alias]
    ci = commit
    st = status
    br = branch
    co = checkout
    pb = publish-branch
    base = describe --tags --abbrev=0
	force-push = push --force-with-lease
[include]
    path = .gitconfig.private
[push]
	default = tracking
	followTags = true
[tag]
    sort = version:refname
[rerere]
	enabled = true
[core]
	excludesfile = ~/.gitignore
	pager = delta
[diff]
    tool = meld
    algorithm = histogram
    compactionHeuristic = true
[interactive]
	singlekey = true
	diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:/ghc/packages-"]
	insteadOf = git@github.com:/ghc/packages/
[ghq]
	root = ~/src
[ghq "http://hub.darcs.net/"]
    vcs = darcs
[ghq "http://code.haskell.org/"]
    vcs = darcs
[commit]
    verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
    navigate = true
    dark = true
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
