[submodule "modules/solarized"]
	path = modules/solarized
	url = git://github.com/altercation/solarized.git
[submodule "modules/egg"]
	path = modules/egg
	url = https://github.com/byplayer/egg.git
[submodule "modules/haskell-mode"]
	path = modules/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "modules/coffee-mode"]
	path = modules/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "modules/markdown-mode"]
	path = modules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "modules/git-flow-completion"]
	path = modules/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "modules/popwin-el"]
	path = modules/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "modules/antigen"]
	path = modules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "modules/helm"]
	path = modules/helm
	url = https://github.com/emacs-helm/helm.git
